@use '@/styles/abstracts/index' as *;

$link-size: 60px;
$border: 2px;

.eat-home {
  cursor: pointer;
  width: $link-size;
  height: $link-size;
  border-radius: 50%;
  border: $border solid var(--foreground);
  background-color: var(--foreground);
  @include merge-transitions((border-color));

  &::before {
    content: none;
  }

  & svg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: $link-size - $border * 2;
    height: $link-size - $border * 2;
    fill: var(--background);
    @include merge-transitions((fill));
  }

  &:focus-visible {
    border-color: $accent;
  }

  @media (hover: hover) {
    &:hover {
      border-color: $accent;

      & svg {
        fill: $accent;
      }
    }
  }

  &.active {
    cursor: default;
  }
}
