# Node modules and build artifacts
node_modules/
.next/
dist/
target/
__tmp__/
.turbo/
compiled/

# Logs and temp
*.log
*.tmp

# System files
.DS_Store
Thumbs.db

# VCS and lock files
.git/
.gitignore
pnpm-lock.yaml

# Sass cache
.sass-cache/

# IDE/editor configs
.vscode/
.idea/

# Fonts and design assets
_design/

# Documentation
_docs/

# Dockerignore itself
.dockerignore
