@use '@/styles/abstracts/index' as *;

.strip {
  position: fixed;
  z-index: $z-bar-tint;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--background);
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
