@import '@/styles/abstracts/_index.scss';

.main {
  width: 100vw;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 2rem;
}
