@use '@/styles/abstracts/index' as *;

.submit {
  margin-top: 1rem;
}

.instructions {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 1rem;
}

.recaptcha {
  font-size: 0.75rem;
  line-height: 1.4;
  margin-top: 1.5rem;

  a {
    @extend %text-link;

    &::before {
      content: none;
    }
  }
}
