$max-width: 1080px;
$border-radius: 5px;
$header-height: 120px;
$footer-height: 152px;
$footer-height-md: 88px;
$icon-button-size: 30px;
$pill-height: 50px;
$h2-margin-bottom: clamp(0.5rem, 1.5vw, 0.75rem);
