@use 'sass:color';
@use 'sass:meta';

@function get-color($color, $alpha: 1) {
  @if meta.type-of($color) != 'color' {
    @error "The input must be a valid color";
  }

  $red: color.channel($color, 'red', $space: rgb);
  $green: color.channel($color, 'green', $space: rgb);
  $blue: color.channel($color, 'blue', $space: rgb);

  @return rgba($red, $green, $blue, $alpha);
}
