$small: 50px;
$big: 100px;

.picture {
  background-color: var(--foreground);
  width: $big;
  height: $big;
  border-radius: 50%;
  border: 5px solid var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  &.small {
    width: $small;
    height: $small;
    border-width: 3px;
  }

  svg {
    fill: var(--background);
  }
}
