// Colors
$black: #000;
$white: #ededed;
$accent: #f00;

// Sizes
$max-width: 1080px;
$header-height: 90px;
$icon-button-size: 30px;

// Transitions and animations
$default-time: 0.25s;

:export {
  black: $black;
  white: $white;
  accent: $accent;
  maxWidth: $max-width;
  headerHeight: $header-height;
  iconButtonSize: $icon-button-size;
  defaultTime: $default-time;
}
