@import './_variables.module.scss';
@import '@/styles/_mixins.module.scss';

:root {
  --background: #030303;
  --foreground: #ededed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: degular-variable, sans-serif;
  font-variation-settings: 'wght' 400, 'ital' 0, 'opsz' 16;
  text-align: center;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  @include merge-transitions((background-color));
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &[data-theme='light'] {
    --background: #ededed;
    --foreground: #030303;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 700;
}

a {
  color: currentColor;
  text-decoration: none;
  font-variation-settings: 'wght' 400, 'opsz' 12;
  @include merge-transitions((color, font-variation-settings));

  &:hover,
  &:active,
  &.active {
    font-variation-settings: 'wght' 700, 'opsz' 16;
  }

  &.active {
    color: $accent;
  }

  &:focus-visible {
    @include accessibility-outline;
  }
}

button {
  &:focus-visible {
    @include accessibility-outline;
  }
}
