@import '@/styles/abstracts/_index.scss';

.footer {
  padding: 3rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  @media (width < $breakpoint-sm) {
    gap: 1.5rem;
  }

  section + section {
    @media (width < $breakpoint-sm) {
      flex-direction: column;
    }
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
