@import '@/styles/abstracts/_index.scss';

.nav {
  z-index: 2;
  background-color: var(--background);
  height: 50px;
  min-width: 300px;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: $max-width;
  position: fixed;
  top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  @include border($weight: 2px);
  @include rounded-corners($radius: 3rem);

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.divider {
  height: $header-height;
}
