$header-height: 90px;

.nav {
  height: $header-height;
  width: 100vw;
  padding: 1rem 2rem;
  max-width: $max-width;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.languages {
      color: var(--foreground);
      display: flex;
      gap: 0.5rem;

      button {
        font-size: 1rem;
        color: var(--foreground);
        border: none;
        background: none;
        font-variation-settings: 'wght' 400, 'opsz' 12;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
          font-variation-settings: 'wght' 700;
        }

        &.active {
          color: $accent;
          font-variation-settings: 'wght' 700;
        }
      }
    }
  }
}

.actions {
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.divider {
  height: $header-height;
}
