@import '@/styles/abstracts/_index.scss';

.nav {
  z-index: 2;
  background-color: var(--background);
  height: calc($header-height - 1.5rem);
  min-width: 350px;
  padding: 1rem 2rem;
  max-width: $max-width;
  position: fixed;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  @include border($weight: 2px);
  @include rounded-corners($radius: 3rem);

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.actions {
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.divider {
  height: $header-height;
}
