@use '@/styles/abstracts/index' as *;

.credits {
  max-width: 40rem;
  margin: 2rem auto 0;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--foreground);

  a {
    @extend %text-link;

    &::before {
      content: none;
    }
  }
}
