@import '@/styles/_variables.module.scss';

.nav-link {
  a {
    text-transform: uppercase;
    display: inline-block;

    &.active {
      color: $accent;
      pointer-events: none;
      font-variation-settings: 'wght' 700, 'opsz' 16;

      &::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
}
