@import '@/styles/abstracts/_index.scss';

.langs-wrapper {
  position: relative;
}

.actions {
  position: absolute;
  width: 60px;
  background-color: var(--background);
  border: 1px solid var(--foreground);
  border-radius: $border-radius;
  padding: 0.75rem;
  top: 40px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: scale(0);
  transform-origin: top right;
  @include merge-transitions((transform));

  & li > a {
    @include merge-transitions((color));

    &::before {
      background: none;
    }

    &:hover {
      color: $accent;
    }
  }

  &.opened {
    transform: scale(1);
  }
}
