@use '@/styles/abstracts/index' as *;

.subtitle {
  text-align: left;
  font-size: clamp(2.5rem, 10vw, 3rem);
  line-height: clamp(2.5rem, 10vw, 3rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  @include degular($wght: 200, $opsz: 72);

  .area {
    text-align: inherit;
    color: $accent;
    @include merge-transitions((color));

    &:hover {
      color: var(--foreground);
    }
  }
}
